.vn-title span {
  color: #517C99;
  position: relative;
}
.vn-title span::before {
  content: "";
  position: absolute;
  width: 100px;
  height: 1px;
  top: 50%;
  left: 140%;
  background-color: #EDB170;
}
.vn-title span::after {
  content: "";
  position: absolute;
  width: 100px;
  height: 1px;
  top: 50%;
  right: 140%;
  background-color: #EDB170;
}

#enc-home .info-header-home {
  display: flex;
  align-items: center;
}
#enc-home .info-header-home .icon {
  border: 2px solid #EDB170;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  margin-right: 0.6em;
}
#enc-home .info-header-home .icon img {
  width: 35px;
}
#enc-home .info-header-home .icon__02 {
  border: 2px solid #333333;
}
#enc-home .info-header-home .title {
  font-size: 22px;
  margin: 0;
}
#enc-home .info-header-home .title__02 {
  color: #EDB170;
}

.slick-footer-brands {
  margin: 2em 0;
}
.slick-footer-brands .item {
  text-align: center;
  padding: 1em;
}
.slick-footer-brands .item img {
  margin: auto;
}
.slick-footer-brands .slick-arrow::before {
  color: #EDB170;
  font-size: 30px;
  text-align: center;
}
.slick-footer-brands .slick-prev {
  left: 20px;
}
.slick-footer-brands .slick-next {
  right: 20px;
}
.slick-footer-brands .slick-dots {
  bottom: -50px;
}
.slick-footer-brands .slick-dots li button::before {
  font-size: 12px;
}
.slick-footer-brands .slick-dots li.slick-active button::before {
  color: #EDB170;
}

.single-product #container-page {
  max-width: 100% !important;
  padding: 0 !important;
}
.single-product .sub-heading-section {
  display: none !important;
}

.vn-desc {
  background-color: black;
  padding: 4em 0;
}
.vn-desc__title {
  color: #fff;
  font-size: 4em;
  line-height: 1.2em;
}
.vn-desc__date {
  display: flex;
  margin-bottom: 3em;
}
.vn-desc__year {
  -webkit-text-stroke: 1px #fff;
  color: transparent;
  font-size: 4em;
  line-height: 1.1em;
}
.vn-desc__month {
  -webkit-text-stroke: 1px #fff;
  color: transparent;
  font-size: 2em;
  text-transform: uppercase;
  padding-right: 0.5em;
}
.vn-desc__description p {
  color: #fff;
}
.vn-desc__video {
  padding-right: 2em;
}
.vn-desc__video iframe {
  border-radius: 30px;
  border: 1px solid #fff;
}

.vn-spon {
  padding: 4em 0;
  position: relative;
}
.vn-spon .vs-slick {
  margin-top: 2em;
  padding: 0 3em;
}
.vn-spon .vs-slick i {
  font-size: 1.3em;
}
.vn-spon .vs-slick .item {
  display: flex;
  justify-content: center;
}
.vn-spon .vs-slick .item img {
  width: auto;
  max-height: 80px;
}
.vn-spon .nav-left {
  position: absolute;
  left: 0;
  top: 30%;
  background-color: #EDB170;
  width: 60px;
  height: 60px;
  border: none;
  border-radius: 50%;
  transition: all 0.5s;
}
.vn-spon .nav-left:hover {
  background-color: #517C99;
  color: #fff;
}
.vn-spon .nav-right {
  position: absolute;
  right: 0;
  top: 30%;
  background-color: #EDB170;
  width: 60px;
  height: 60px;
  border: none;
  border-radius: 50%;
  transition: all 0.5s;
}
.vn-spon .nav-right:hover {
  background-color: #517C99;
  color: #fff;
}
.vn-spon .slick-dots {
  bottom: -70px;
  left: 0;
}
.vn-spon .slick-dots li button::before {
  font-size: 15px;
  color: #999999;
  opacity: 1;
}
.vn-spon .slick-dots .slick-active button::before {
  color: #39FFD2;
  opacity: 1;
}

.vn-event__cont {
  background-image: url(http://localhost/venue-virtual/wp-content/uploads/2020/10/bg-event.jpg);
  padding: 5em 0;
  background-position: center;
  background-size: cover;
}
.vn-event__item {
  padding: 0 3em;
}
.vn-event__item .vn-content {
  background: #ffffff;
  position: relative;
  border-radius: 15px;
  padding: 0.7em 2em;
}
.vn-event__item .icon {
  position: absolute;
  top: -10px;
  left: 10px;
  border-radius: 50%;
  background-color: #EDB170;
  padding: 1em;
}
.vn-event__item .icon img {
  width: 60px;
}
.vn-event__item .date {
  margin-left: 5.5em;
}
.vn-event__item .date .title {
  color: #000000;
  display: block;
}
.vn-event__item .date .desc {
  color: #6D6D6D;
}

.vn-ints {
  padding: 5em 0;
}
.vn-ints__cont-img {
  background-color: #EDB170;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  padding: 4em;
  -webkit-box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.21);
  -moz-box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.21);
  box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.21);
}
.vn-ints__title {
  font-size: 3em;
}
.vn-ints ul {
  list-style: none;
  padding: 0;
}
.vn-ints ul li {
  display: flex;
  align-items: center;
  margin-bottom: 1.5em;
}
.vn-ints ul .number {
  color: #262626;
  background-color: #517C99;
  width: 30px;
  height: 30px;
  display: inline-flex;
  border-radius: 50%;
  font-size: 3em;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  margin-right: 0.3em;
}
.vn-ints ul a {
  color: #757575;
  margin-left: 0.2em;
  font-weight: bold;
  transition: all 0.4s;
}
.vn-ints ul a:hover {
  color: #517C99;
}

.vn-rec {
  background-color: #E6E6E6;
  padding: 4em 0;
}

.vn-mdp {
  padding: 4em 0;
  position: relative;
}
.vn-mdp .circle {
  position: absolute;
  background-color: #517C99;
  width: 220px;
  height: 220px;
  border-radius: 50%;
  top: 36px;
  left: 0;
  right: 0;
  margin: auto;
}
.vn-mdp .vn-title {
  line-height: 1em;
  margin: 0;
  position: relative;
  top: 20px;
}
.vn-mdp__cont {
  -webkit-box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.21);
  -moz-box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.21);
  box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.21);
  width: 90%;
  margin: auto;
  border-radius: 60px;
  position: relative;
  z-index: 1;
  background-color: #ffffff;
}
.vn-mdp__cont .vs-slick {
  padding: 0 9em;
}
.vn-mdp__cont .vs-slick .slick-track {
  display: flex;
  align-items: center;
}
.vn-mdp__cont .vs-slick .item {
  display: flex;
  justify-content: center;
}
.vn-mdp__cont .vs-slick .item img {
  width: 120px;
}
.vn-mdp__cont .nav-left {
  position: absolute;
  left: 50px;
  top: 30%;
  background-color: #EDB170;
  width: 60px;
  height: 60px;
  border: none;
  border-radius: 50%;
  transition: all 0.5s;
}
.vn-mdp__cont .nav-left:hover {
  background-color: #517C99;
  color: #fff;
}
.vn-mdp__cont .nav-right {
  position: absolute;
  right: 50px;
  top: 30%;
  background-color: #EDB170;
  width: 60px;
  height: 60px;
  border: none;
  border-radius: 50%;
  transition: all 0.5s;
}
.vn-mdp__cont .nav-right:hover {
  background-color: #517C99;
  color: #fff;
}
.vn-mdp__cont .slick-dots {
  bottom: -70px;
  position: absolute;
  left: 0;
}
.vn-mdp__cont .slick-dots li button::before {
  font-size: 15px;
  color: #999999;
  opacity: 1;
}
.vn-mdp__cont .slick-dots .slick-active button::before {
  color: #39FFD2;
  opacity: 1;
}

.vn-recents .vs-slick .item {
  padding: 1em 2em;
  margin: 1em 0;
}
.vn-recents .vs-slick .item .cont-item {
  padding: 1em;
  background-color: #ffffff;
  -webkit-box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.21);
  -moz-box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.21);
  box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.21);
  border-radius: 40px;
  position: relative;
}
.vn-recents .vs-slick .item .cont-item img {
  height: 350px;
  width: auto;
  object-fit: cover;
  border-radius: 30px;
}
.vn-recents .vs-slick .item .cont-item .vn-caption {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 1em;
}
.vn-recents .vs-slick .item .cont-item .vn-caption .content {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 1.5em 2em;
  border-radius: 0 0 30px 30px;
  transition: all 0.5s;
}
.vn-recents .vs-slick .item .cont-item .vn-caption .content h3 {
  color: #ffffff;
  line-height: 1.1em;
  margin: 0;
}
.vn-recents .vs-slick .item .cont-item .vn-caption .content span {
  color: #ffffff;
  text-transform: capitalize;
}
.vn-recents .vs-slick .item .cont-item .vn-caption .content a {
  color: #ffffff;
  border: 1px solid #ffffff;
  padding: 0.6em 2em;
  border-radius: 20px;
}
.vn-recents .vs-slick .item .cont-item .vn-caption .content span, .vn-recents .vs-slick .item .cont-item .vn-caption .content .button {
  display: none;
  transition: all 0.5s;
}
.vn-recents .vs-slick .item .cont-item:hover .content {
  background-color: #517C99;
}
.vn-recents .vs-slick .item .cont-item:hover span {
  display: inline !important;
}
.vn-recents .vs-slick .item .cont-item:hover .button {
  display: block !important;
}

.vn-ats {
  padding: 4em 0;
}
.vn-ats .item .content {
  -webkit-box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.21);
  -moz-box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.21);
  box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.21);
  text-align: center;
  border-radius: 40px;
  padding: 4em 3em 5em 3em;
  position: relative;
  background-color: #517C99;
  color: white;
}
.vn-ats .item .content h3 {
  color: #EDB170;
  background-color: white;
  line-height: 2em;
  margin-bottom: 1.5em;
}
.vn-ats .item .content ul {
  padding: 0;
}
.vn-ats .item .content ul li {
  margin-bottom: 1em;
  color: white;
}
.vn-ats .item .content .vn-prices h5 {
  color: #EDB170;
}
.vn-ats .item .content .vn-prices .vn-price {
  color: white !important;
}
.vn-ats .item .content .buttons {
  margin-bottom: -118px;
}
.vn-ats .item .content .buttons .button-master {
  display: inline-block;
  line-height: 1em;
  padding: 1em;
  font-size: 0.9em;
  margin: 1em;
}
.vn-ats .item .content .buttons .button-master.principal-button {
  background-color: white;
  border-radius: 50px;
}

#customer_details {
  padding: 2em 0 5em 0;
}
#customer_details .woocommerce-billing-fields label {
  display: none;
}
#customer_details .woocommerce-billing-fields #billing_country_field label, #customer_details .woocommerce-billing-fields #criteriosustitucion_field label {
  display: block;
}
#customer_details .woocommerce-billing-fields span {
  width: 100%;
}
#customer_details .woocommerce-billing-fields input, #customer_details .woocommerce-billing-fields select, #customer_details .woocommerce-billing-fields .select2-selection {
  height: 50px;
  padding-left: 1em;
  border-radius: 25px;
  border: 1px solid #000000;
}
#customer_details .woocommerce-billing-fields .select2-selection {
  display: flex;
  align-items: center;
}
#customer_details .woocommerce-billing-fields .select2-selection .select2-selection__arrow b {
  right: 10px;
  left: auto;
  top: 100%;
}
#customer_details .woocommerce-additional-fields {
  display: none;
}
#customer_details .shop_table {
  border-color: #000000;
}
#customer_details .shop_table td, #customer_details .shop_table th {
  border-color: #000000;
}
#customer_details #payment {
  padding: 1em;
  background-color: #517C99;
}
#customer_details #payment label {
  color: #ffffff;
  line-height: 1.2em;
}
#customer_details #payment .woocommerce-privacy-policy-text p {
  color: #ffffff;
}
#customer_details #payment .woocommerce-privacy-policy-text p a {
  color: #EDB170;
}
#customer_details #payment #place_order {
  background-color: transparent !important;
  color: #ffffff !important;
  border-radius: 25px !important;
  padding: 1em 2em !important;
  transition: all 0.5s !important;
  border: 1px solid #EDB170;
}
#customer_details #payment #place_order:hover {
  background-color: #EDB170 !important;
  color: #ffffff !important;
}

.woocommerce-cart .entry-content {
  margin-bottom: 5em;
}
.woocommerce-cart .entry-content .woocommerce-info {
  background-color: #517C99;
  color: #ffffff;
  border-top-color: #EDB170;
  border-radius: 20px;
  -webkit-box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.21);
  -moz-box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.21);
  box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.21);
}
.woocommerce-cart .entry-content .woocommerce-info::before {
  color: #ffffff;
}
.woocommerce-cart #coupon_code {
  width: 200px !important;
  height: 49px;
  padding: 1em;
  border-radius: 30px;
}
.woocommerce-cart .quantity input {
  border-radius: 20px;
  border: 1px solid #b5b5b5;
}
.woocommerce-cart .button {
  background-color: #EDB170 !important;
  color: #000000 !important;
  border-radius: 25px !important;
  padding: 1em 2em !important;
  transition: all 0.5s !important;
}
.woocommerce-cart .button:hover {
  background-color: #517C99 !important;
  color: #ffffff !important;
}
.woocommerce-cart .shop_table {
  border-color: #000000 !important;
}
.woocommerce-cart .shop_table td, .woocommerce-cart .shop_table th {
  border-color: #000000 !important;
}

#customer_login {
  margin-bottom: 4em;
}
#customer_login h2 {
  line-height: 2em;
}
#customer_login .u-column1, #customer_login .u-column2 {
  max-width: 50%;
}
#customer_login .u-column1 .woocommerce-form, #customer_login .u-column2 .woocommerce-form {
  border-color: transparent;
  border-radius: 30px;
  -webkit-box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.21);
  -moz-box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.21);
  box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.21);
}
#customer_login .u-column1 .woocommerce-form input, #customer_login .u-column2 .woocommerce-form input {
  height: 50px;
  border: 1px solid #000000;
  border-radius: 30px;
  padding-left: 1em;
}
#customer_login .u-column1 .woocommerce-form .woocommerce-form-row, #customer_login .u-column1 .woocommerce-form .form-row, #customer_login .u-column2 .woocommerce-form .woocommerce-form-row, #customer_login .u-column2 .woocommerce-form .form-row {
  display: block;
}
#customer_login .u-column1 .woocommerce-form .woocommerce-button, #customer_login .u-column2 .woocommerce-form .woocommerce-button {
  float: none;
  background-color: #EDB170 !important;
  color: #000000 !important;
  border-radius: 25px !important;
  padding: 1em 2em !important;
  transition: all 0.5s !important;
}
#customer_login .u-column1 .woocommerce-form .woocommerce-button:hover, #customer_login .u-column2 .woocommerce-form .woocommerce-button:hover {
  background-color: #517C99 !important;
  color: #ffffff !important;
}
#customer_login .u-column1 .woocommerce-form .woocommerce-form__label-for-checkbox, #customer_login .u-column2 .woocommerce-form .woocommerce-form__label-for-checkbox {
  display: block;
}
#customer_login .u-column1 .woocommerce-form .woocommerce-form__label-for-checkbox input, #customer_login .u-column2 .woocommerce-form .woocommerce-form__label-for-checkbox input {
  height: 10px;
}

.woocommerce-MyAccount-navigation {
  -webkit-box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.21);
  -moz-box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.21);
  box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.21);
  border-radius: 30px;
}
.woocommerce-MyAccount-navigation ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.woocommerce-MyAccount-navigation ul .woocommerce-MyAccount-navigation-link--customer-logout {
  margin-bottom: 0 !important;
}
.woocommerce-MyAccount-navigation ul .woocommerce-MyAccount-navigation-link {
  margin-bottom: 0.5em;
}
.woocommerce-MyAccount-navigation ul .woocommerce-MyAccount-navigation-link a {
  font-family: Montserrat;
  font-weight: 500;
  padding: 0.5em 1em;
  color: #273133;
  width: 100%;
  display: block;
  transition: all 0.5s;
}
.woocommerce-MyAccount-navigation ul .woocommerce-MyAccount-navigation-link a:hover {
  background-color: #EDB170;
  color: #ffffff;
  border-radius: 20px;
}
.woocommerce-MyAccount-navigation ul .is-active a {
  background-color: #EDB170;
  color: #ffffff;
  border-radius: 20px;
}

.woocommerce-MyAccount-content {
  padding-left: 2em;
}
.woocommerce-MyAccount-content .woocommerce-message, .woocommerce-MyAccount-content .woocommerce-Message {
  background-color: #ffffff;
  -webkit-box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.21);
  -moz-box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.21);
  box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.21);
  color: #273133;
  border-radius: 30px;
  border-top: none;
}
.woocommerce-MyAccount-content .button {
  background-color: #EDB170 !important;
  font-family: Montserrat !important;
  color: #ffffff !important;
  height: 40px !important;
  border-radius: 20px !important;
  line-height: 1.2em !important;
  transition: all 0.5s !important;
}
.woocommerce-MyAccount-content .button:hover {
  background-color: #1781AA !important;
}
.woocommerce-MyAccount-content .woocommerce-Addresses .u-column1, .woocommerce-MyAccount-content .woocommerce-Addresses .u-column2 {
  max-width: 50%;
  -webkit-box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.21);
  -moz-box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.21);
  box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.21);
  padding: 1em;
  border-radius: 20px;
  font-family: Montserrat;
}
.woocommerce-MyAccount-content .woocommerce-Addresses .u-column1 h3, .woocommerce-MyAccount-content .woocommerce-Addresses .u-column2 h3 {
  line-height: 1.2em;
}
.woocommerce-MyAccount-content .woocommerce-Addresses .u-column1 .edit, .woocommerce-MyAccount-content .woocommerce-Addresses .u-column2 .edit {
  background-color: #EDB170;
  float: left;
  color: #ffffff;
  padding: 0.2em 0.8em;
  border-radius: 20px;
  margin-bottom: 0.6em;
  transition: all 0.5s;
}
.woocommerce-MyAccount-content .woocommerce-Addresses .u-column1 .edit:hover, .woocommerce-MyAccount-content .woocommerce-Addresses .u-column2 .edit:hover {
  background-color: #1781AA;
}
.woocommerce-MyAccount-content input, .woocommerce-MyAccount-content .select2-selection {
  height: 50px;
  border: 1px solid #000000;
  border-radius: 30px;
  padding-left: 1em;
}
.woocommerce-MyAccount-content .select2-selection {
  display: flex;
  align-items: center;
}
.woocommerce-MyAccount-content .select2-selection b {
  left: 20 !important;
  top: 90% !important;
}
.woocommerce-MyAccount-content .password-input {
  display: contents !important;
}
.woocommerce-MyAccount-content .woocommerce-address-fields__field-wrapper .woocommerce-input-wrapper {
  width: 100% !important;
}

.box-top-header .info-contact {
  display: none;
}
.box-top-header .box-info-menu span {
  color: white;
}
.box-top-header .box-info-menu span:hover {
  opacity: 0.5;
}
.box-top-header .link-language {
  padding: 0.5em;
}

.static-header .box-logo .img-brand {
  transform: scale(2);
  margin-top: -60px;
}

.sticky-header {
  z-index: 2 !important;
}
.sticky-header .img-brand {
  transform: scale(3);
}
.sticky-header .box-logo-and-nav {
  padding: 1.7em 0 !important;
}

.box-top-header .info-contact {
  display: none;
}
.box-top-header .box-info-menu span {
  color: white;
}
.box-top-header .box-info-menu span:hover {
  opacity: 0.5;
}
.box-top-header .link-language {
  padding: 0.5em;
}

.wpmenucart-contents {
  color: white;
}
.wpmenucart-contents .amount {
  color: white;
}
.wpmenucart-contents:hover {
  color: white;
}

.cont-card-event .img-card-event {
  object-fit: cover;
}
.cont-card-event .info-card-event {
  font-family: "Din Bold", sans-serif;
  background: #edb170;
  border-radius: 0 30px 30px 0;
  padding: 0.5em;
  top: 0;
  left: 0px;
  margin-top: 10%;
}

.top-footer ul {
  list-style: none;
  padding: 0;
  margin-top: 2em;
}
.top-footer li {
  margin-bottom: 1em;
}
.top-footer a {
  color: #ffffff;
  transition: all 0.4s;
}
.top-footer a:hover {
  color: #EDB170;
}

.form-master {
  background-color: transparent !important;
  color: white !important;
}

/*# sourceMappingURL=custom-style.css.map */
